$primary-color: #563d7c;
$secondary-color: white;
$bg-color: #f1f1f16e;
body {
  background-color:$bg-color ;
  margin: 0;
  padding: 0;
}

button {
  color: $secondary-color !important;
  border: none !important;
}
.headerFlexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  height: 70px;
  h4{
    color: $secondary-color;
    margin-left: 10px;
  }
}
.footer {
  text-align: center;
  width: 100%;
  background-color: $primary-color;
  h6{
    color: $secondary-color;   
  }
}
// @media only screen and (min-width: 600px) {
//   .footer {
//     position: absolute;
//     bottom: 0;
//   }
// }
@media only screen and (min-width: 600px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}
.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  div {
    background-color: #f1f1f1;
    width: 300px;
    min-height: 450x;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
}


.fullwidth{
  width: 100%;
}